extends main-layout

block append content

    div.row
        div.col-xs-12.col-sm-7
            div.box
                h2 About me
                p Stuff will go here!
            div.box
                h2 Education
                ul#education.clearfix
                    li
                        div.year.pull-left 1987
                        div.description.pull-right
                            h3 I was born!
                            p Not much to say here...
                    li
                        div.year.pull-left 2005
                        div.description.pull-right
                            h3 Desborough School
                            p Specialising in Physics, Mathematics and Music
                    li
                        div.year.pull-left 2009
                        div.description.pull-right
                            h3 Loughborough University
                            p Physics BSc
                    li
                        div.year.pull-left 2010
                        div.description.pull-right
                            h3 University of Bristol
                            p Computer Science MSc
            div.box
                h2 Experiences
                div.job.clearfix
                    div.col-xs-3
                        div.where BAE Systems
                        div.year 2007 - 2008
                    div.col-xs-9
                        div.profession Safety Engineer
                        div.description Stuff will go here!
                div.job.clearfix
                    div.col-xs-3
                        div.where Mases Electronics Ltd
                        div.year 2003 - 2011
                    div.col-xs-9
                        div.profession Web admin / PCB Engineer
                        div.description Stuff will go here!
                div.job.clearfix
                    div.col-xs-3
                        div.where Tessella Ltd
                        div.year 2011 - Present
                    div.col-xs-9
                        div.profession Software Engineer
                        div.description Stuff will go here!
        div.col-xs-12.col-sm-5
            div.box.clearfix
                h2 Contact
                div.contact-item
                    div.icon.pull-left.text-center
                        span.fa.fa-phone.fa-fw
                    div.title.only.pull-right +44 7763 638 517
                div.contact-item
                    div.icon.pull-left.text-center
                        span.fa.fa-envelope.fa-fw
                    div.title.only.pull-right
                        a(href="mailto:cv@mikemases.com") cv@mikemases.com
                div.contact-item
                    div.icon.pull-left.text-center
                        span.fa.fa-skype.fa-fw
                    div.title.pull-right Skype
                    div.description.pull-right michaelmases
            div.box
                h2 Skills
                div.skills
                    div.item-skills(data-percent="1.00") .NET
                    div.item-skills(data-percent="0.75") HTML
                    div.item-skills(data-percent="0.50") node.js
                    div.skills-legend.clearfix
                        div.legend-left.legend Beginner
                        div.legend-left.legend
                            span Proficient
                        div.legend-right.legend
                            span Expert
                        div.legend-right.legend Master
            div.box
                h2 Languages
                div#language-skills
                    div.skill English
                        div.icons.pull-right
                            div.icons-red(style="width: 100%;")
            div.box
                h2 Hobbies
                div.hobby Guitar
                div.hobby Fitness
                div.hobby Programming
    script(type="text/javascript" src="javascripts/cv.js")

