extends main-layout

block content
    div.row
        div.col-xs-12.col-sm-7
            div.box
                h2 Welcome
                p This site will grow as I begin to contribute my ideas. In the meantime, have a look at the 'About me' to see who I am.
    script(type="text/javascript" src=js)